.form{
    display: flex;
    align-items: center;
    justify-content: center;

}

.input{
    outline: none;
    border:none;
    width: 700px;
    height: 40px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 10px 0 0;
}

.search-button{
    margin: 0 0 0 10px;
}